:root{
    --bordas-gerais: .8rem;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

a {
    text-decoration: none;
}

hr {
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 60%;
    height: 90vh;
}

.container-logo {
    display: flex;
    flex-direction: column;
}

.container-login {
    position: absolute;
    right: 0;
    margin: .5rem;
}

.logo-login {
    width: 10rem;
    height: auto;
    align-self: center;
}

.h1-login {
    font-size: 3.5rem;
    font-weight: 600;
    color: #d64e51;
    text-shadow: 1px 1px 2px #802f30;
    text-align: center;
}

.section-campos-login {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2rem 0;
}

.botao-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .8rem;
    width: 16rem;
    height: 4rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000;
    border: none;
    border-radius: 5px;
    background-color: #4f50d5;
}

    .botao-login:hover {
        filter: brightness(1.2);
    }

.botao-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 3rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #d64e51;
}

    .botao-logout:hover {
        background-color: #dd7273;
    }

.botao-registrar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .8rem;
    width: 10rem;
    height: 3rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000;
    border-radius: 5px;
    background-color: #4fd5d4;
}

.label-login-register a:hover {
    color: #fff;
}

.botao-registrar:hover {
    filter: brightness(1.06);
}

.section-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
}

.form-login {
    width: 40%;
    min-width: 20rem;
}

.campos-login {
    width: 100%;
    height: auto;
    margin: .6rem 0;
}

.campo-login {
    width: 60%;
    height: auto;
    margin: .6rem 0;
}

.label-login-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 1rem 0;
}

.section-lembrete {
    width: 100%;
}

.campo-lembrete {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 2rem;
    cursor: pointer;
}

    .campo-lembrete p {
        margin-left: 5px;
    }

.form-label {
    display: flex;
    justify-content: space-between;
}


.section-dados-cliente {
    display: flex;
    justify-content: space-evenly
}


.imagem-conta {
    width: 16rem;
    height: 16rem;
}

.barra-acoes {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    padding: 2rem 0;
}

.botoes-barra-acoes {
    width: 16rem;
    height: 4rem;
    border: none;
}

.botao-saque {
}

.botao-historico {
}

.guia-depositar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 5rem;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
    border-radius: .8rem;
    text-transform: uppercase;
    background-color: #d44a53;
    cursor: pointer;
    pointer-events: stroke;
}

.section-depositar {
    z-index: 100;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    width: 16rem;
    height: 10rem;
    padding: 0rem 1rem;
    border-radius: var(--bordas-gerais);
    background: linear-gradient(to right, #c14649, #de7174);
    animation: moverLateral 1s 0.5s forwards;
}

#checkbox-depositar {
    display: none;
}

.show-depositar {
    display: none;
}

#checkbox-depositar:checked ~ .show-depositar {
    display: block;
}

.botao-deposito {
    width: 8rem;
    height: 4rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px #000;
    color: #fff;
    background-color: #963739;
    border-radius: var(--bordas-gerais);
}

    .botao-deposito:hover {
        border: solid #963739;
        filter: brightness(1.1);
    }

.guia-sacar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 5rem;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
    border-radius: .8rem;
    text-transform: uppercase;
    background-color: #d44a53;
    cursor: pointer;
    pointer-events: stroke;
}

.section-sacar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    width: 16rem;
    height: 10rem;
    padding: 0rem 1rem;
    border-radius: var(--bordas-gerais);
    background: linear-gradient(to right, #c14649, #de7174);
}

#checkbox-sacar {
    display: none;
}

.show-sacar {
    display: none;
}

#checkbox-sacar:checked ~ .show-sacar {
    display: block;
}

.botao-saque {
    width: 8rem;
    height: 4rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px #000;
    color: #fff;
    background-color: #963739;
    border-radius: var(--bordas-gerais);
}

    .botao-saque:hover {
        border: solid #963739;
        filter: brightness(1.1);
    }

.container-transferencias {
    display: flex;
    flex-direction: column;
}

.label-ultimas-transferencias {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    color: darkslategrey;
}

.cabecalho-transferencias {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

@keyframes moverLateral {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100);
    }
}